[submodule "backend"]
	path = backend
	url = https://github.com/NichtNil5/backend.git
	branch = plugin/tictactoe
	shallow = true
[submodule ".idea"]
	path = .idea
	url = https://github.com/software-challenge/idea-config
	shallow = true
