[submodule "backend"]
	path = backend
	url = https://github.com/software-challenge/backend
	shallow = true
[submodule ".idea"]
	path = .idea
	url = https://github.com/software-challenge/idea-config
	shallow = true
